<a href="search" class="link-back">Back</a>
<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Review request
        </h1>
        <p>Check you have the correct organisation before submitting. An approver at your organisation will need to review your request before your are granted access.</p>
        <h2 class="heading-medium">Organisation </h2>
        <dl class="rows spacer">
            <dt>Name</dt>
            <dd><%=locals.organisation.name%></dd>

            <dt>Address</dt>
            <% if (locals.organisation.Address) {%>
                <dd><%=locals.organisation.Address%></dd>
            <% } else { %>
                <dd>Not recorded</dd>
            <% }%>
        </dl>
        <form method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <input type="hidden" value="<%=locals.organisation.id%>" name="organisationId"/>
            <input type="hidden" value="<%=locals.organisation.name%>" name="organisationName"/>
            <div class="submit-buttons">
                <button type="submit" class="button">Submit</button>
            </div>
        </form>
    </div>
</div>