<!-- Banner -->
<% if(locals.header) { %>
    <div class="notification notification-information">
        <h2 class="govuk-heading-m">
            <%=locals.header%>
        </h2>
        <% if(locals.headerMessage) { %>
            <p class="govuk-body"><%-locals.headerMessage.replace('__helplink__',locals.urls.help)%></p>
        <%}%>
    </div>
<% } %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Create a DfE Sign-in account
        </h1>
        <p class="govuk-body">If you already have a DfE Sign-in account <a class="govuk-link-bold" href="<%= locals.redirectUri %>">sign in</a>.</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <form method="post" id="form-change-password">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

            <div class="govuk-form-group <%= (locals.validationMessages.firstName !== undefined) ? 'govuk-form-group--error' : '' %>">
                <label class="govuk-label govuk-label--s" for="firstName">First name</label>
                <% if (locals.validationMessages.firstName !== undefined) { %>
                    <span id="validation-firstName" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.firstName %>
                    </span>
                <% } %>
                <input class="govuk-input" id="firstName" name="firstName" type="text"
                <% if (locals.validationMessages.firstName !== undefined) { %>
                       aria-invalid="true" aria-describedby="validation-firstName"
                        <% } %>
                       value="<%=locals.firstName%>">
            </div>

            <div class="govuk-form-group <%= (locals.validationMessages.lastName !== undefined) ? 'govuk-form-group--error' : '' %>">
                <label class="govuk-label govuk-label--s" for="lastName">Last name </label>
                <% if (locals.validationMessages.lastName !== undefined) { %>
                    <span id="validation-lastName" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.lastName %>
                    </span>
                <% } %>
                <input class="govuk-input" id="lastName" name="lastName" type="text"
                       <% if (locals.validationMessages.lastName !== undefined) { %>aria-invalid="true" aria-describedby="validation-lastName"<% } %>
                       value="<%=locals.lastName%>">
            </div>

            <div class="govuk-form-group <%= (locals.validationMessages.email !== undefined) ? 'govuk-form-group--error' : '' %>">
                <label class="govuk-label govuk-label--s" for="email">Email address </label>
                <p class="govuk-hint govuk-!-margin-top-1">You will receive an email to verify this address</p>
                <% if (locals.validationMessages.email !== undefined) { %>
                    <span id="validation-email" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.email %>
                    </span>
                <% } %>
                <input class="govuk-input" id="email" name="email" type="email"
                       <% if (locals.validationMessages.email !== undefined) { %>aria-invalid="true" aria-describedby="validation-email"<% } %>
                       value="<%=locals.email%>">
            </div>

            <div class="govuk-inset-text">
                <p class="govuk-body">
                    By continuing you accept the <a class="govuk-link-bold" target="_blank" href="<%=locals.urls.interactions%>/terms">terms and conditions</a>.
                </p>
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button">Continue</button>
            </div>
        </form>
    </div>
</div>
