<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Create a DfE Sign-in account
        </h1>
    </div>
</div>
<div class="grid-row">
    <div class="col-6">
        <form method="post" id="form-change-password">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

            <div class="form-group <%= locals.validationMessages.firstName ? 'form-group-error' : '' %>">
                <label class="form-label" for="firstName">First name</label>
                <% if (locals.validationMessages.firstName) { %>
                <p class="error-message" id="validation-firstName"><%=locals.validationMessages.firstName%></p>
                <% } %>
                <div>
                    <input class="form-control full-width" id="firstName" name="firstName" type="text" value="<%=firstName%>"
                            <% if (locals.validationMessages.firstName) { %> aria-invalid="true" aria-describedby="validation-firstName" <% } %> />
                </div>
            </div>
            <div class="form-group <%= locals.validationMessages.lastName ? 'form-group-error' : '' %>">
                <label class="form-label" for="lastName">Last name</label>
                <% if (locals.validationMessages.lastName) { %>
                <p class="error-message" id="validation-lastName"><%=locals.validationMessages.lastName%></p>
                <% } %>
                <div>
                    <input class="form-control full-width" id="lastName" name="lastName" type="text" value="<%=lastName%>"
                            <% if (locals.validationMessages.lastName) { %> aria-invalid="true" aria-describedby="validation-lastName" <% } %> />
                </div>
            </div>
            <div class="form-group <%= locals.validationMessages.email ? 'form-group-error' : '' %>">
                <label class="form-label" for="email">Email address
                    <span class="form-hint">We will send you an email to verify this address</span>
                </label>
                <% if (locals.validationMessages.email) { %>
                <p class="error-message" id="validation-email"><%=locals.validationMessages.email%></p>
                <% } %>
                <div>
                    <input class="form-control full-width" id="email" name="email" type="text" value="<%=email%>"
                            <% if (locals.validationMessages.email) { %> aria-invalid="true" aria-describedby="validation-email" <% } %> />
                </div>
            </div>

            <div class="panel panel-border-wide">
                <p>By continuing you accept the <a target="_blank" href="<%=locals.urls.interactions%>/terms">terms and conditions</a>.</p>
            </div>

            <div class="submit-buttons">
                <button type="submit" class="button">Continue</button>
            </div>
        </form>
    </div>
</div>
