<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Create a password
        </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form method="post" id="form-register-new-password" class="prevent-form-double-submission">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            
            <fieldset class="govuk-fieldset">
                <legend class="govuk-visually-hidden">Create a password</legend>
                
                <p class="govuk-body-l">Enter a password for your DfE Sign-in account. </p>

                <div class="govuk-form-group <%= locals.validationMessages.newPassword !== undefined ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label govuk-label--s" for="newPassword">Password</label>
                    <p class="govuk-hint govuk-!-margin-top-1">Your password needs to be a minimum of 12 characters</p>
                    <% if (locals.validationMessages.newPassword !== undefined) { %>
                        <span id="validation-new-password" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%= locals.validationMessages.newPassword %>
                        </span>
                    <% } %>
                    <div class="show-password">
                        <input data-label="password" class="password-input govuk-input govuk-!-width-one-half govuk-!-margin-right-1"
                                id="newPassword" name="newPassword" type="password" value="<%=newPassword%>" pattern=".{12,64}$" autocomplete="off"
                                <% if (locals.validationMessages.newPassword !== undefined) { %> aria-invalid="true" aria-describedby="validation-new-password" <% } %>>
                    </div>
                </div>

                <div class="govuk-form-group <%= locals.validationMessages.confirmPassword !== undefined ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label govuk-label--s" for="confirmPassword">Confirm password</label>
                    <% if (locals.validationMessages.confirmPassword !== undefined) { %>
                        <span id="validation-confirm-password" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%= locals.validationMessages.confirmPassword %>
                        </span>
                    <% } %>
                    <div class="show-password">
                        <input data-label="password" class="password-input govuk-input govuk-!-width-one-half govuk-!-margin-right-1"
                                id="confirmPassword" name="confirmPassword" type="password" value="<%=confirmPassword%>" pattern=".{12,64}$" autocomplete="off"
                                <% if (locals.validationMessages.confirmPassword !== undefined) { %> aria-invalid="true" aria-describedby="validation-confirm-password" <% } %>>
                    </div>
                </div>
                
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button">Continue</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
