<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Resend verification email
        </h1>

        <p class="govuk-body">A verification email was send to <%= locals.existingEmail %>.</p>
        <p class="govuk-body">If this email address is incorrect then you can change it below.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <form method="post" id="form-resend-invitation">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

            <fieldset class="govuk-fieldset">
                <legend class="govuk-visually-hidden">Edit <%= locals.existingEmail %></legend>

                <div class="govuk-form-group <%= (locals.validationMessages.email !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label" for="email">Email address </label>
                    <% if (locals.validationMessages.email !== undefined) { %>
                        <span id="validation-email" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.email %>
                        </span>
                    <% } %>
                    <input class="govuk-input" id="email" name="email" type="email"
                           <% if (locals.validationMessages.email !== undefined) { %>aria-invalid="true" aria-describedby="validation-email"<% } %>
                           value="<%=locals.email%>">
                </div>
            </fieldset>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button">Submit</button>
                <a href="/register/<%= locals.invitationId %>" class="govuk-button govuk-button--secondary">Cancel</a>
            </div>
        </form>

    </div>
</div>
