<% if (locals.flash.info) { %>
<div class="notification notification-success" tabindex="-1">
    <%= locals.flash.info %>
</div>
<% } %>
<% if(locals.pendingEmail) { %>
<div class="notification notification-information" tabindex="0">
    <h2>Pending email address change</h2>
    <p>Waiting for you to confirm the new email address of <%=pendingEmail%>.</p>
    <p>
    <form method="post" action="/change-email/cancel">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        <button class="button-text">Cancel change email</button>
    </form>
    </p>
</div>
<% } %>

<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            My profile
        </h1>
        <dl class="inline">
            <dt>First name</dt>
            <dd><%= locals.user.given_name %></dd>
            <dt>Last name</dt>
            <dd><%= locals.user.family_name %></dd>
            <dt>Email</dt>
            <dd><%= locals.user.email %></dd>
        </dl>
    </div>
    <div class="col-4">
        <aside>
            <h2 class="heading-medium">Actions</h2>
            <nav class="subnav">
                <ul>
                    <li><a href="/edit-details">Edit my details</a></li>
                    <li><a href="/change-password">Change my password</a></li>
                    <li><a href="/change-email">Change my email address</a></li>
                </ul>
            </nav>
        </aside>
    </div>
</div>